*{
	margin:0;
	padding:0;	
}

header nav section article footer hgroup {
    display:block;
}
html, body {
    width:100%;
    height:100%;
    overflow:hidden;
}
body {
    display:block;
	background-color: #0A0A0A;
}

header.logo {
    color : #85b1f3;
	width:100%;
	text-align: center;
	border-bottom: 2px solid #85b1f3;
	margin: 1px auto;
	font-family: Tahoma;
	padding: 1px auto;
}

header.logo h1 {
    font-size: 250%;  
}
header.logo h5 {
    font-size: 75%;
    margin-bottom: 3px;
}
div.outer {
    display:inline-flex;
    height:100%;
    width:100%;
    overflow:hidden;
}
div.inner {
    display:flex;
    flex-direction:column;   
    width:25%;
    height:50%;
    margin:auto;
    background-color:#F1F1F1;
    text-align:center;
    border-radius:10px;
    color:#85b1f3;
    border:2px solid #85b1f3;
    overflow:hidden;
}

div.inner div.group {
    display:block;
    width:90%;
    height:15%;
    background-color: #0A0A0A;
    margin: 1% auto;
    font-size: 140%; 
    border:2px solid rgba(133, 177, 243, 1);
    text-align:center;
    padding:1%;
}

div.inner div.hgroup {
    margin-top:5%;
    margin-bottom:5%;
    height:20%;
}

div.inner form {
    display:block;
    height:60%;
    margin-top:5%;
    margin-bottom:1%;
}

div.inner form div.input-form {
    height:20%;
    padding:2%;
}

div.input-icon {
    width:13%;
    height:100%;
    float:left;
    margin-top:auto;    
}

div.input-form input {
    display:inline-block;
    width : 80%;
    height: 80%;
    float :left;
    background-color:#0A0A0A;
    color:#85b1f3;
    margin-left: 3%;
    margin-top: 1%;
    padding-left:3%;
    border:none;
}

div.inner form div.btn {
    display:block;
    width:40%;
    height:16%;
    margin-top:4%;
    clear:both;
    border-radius:10px;
}

div.inner form div.btn input {
    width:90%;
    height:90%;
    text-align:center;
    font-weight:bold;
}

div.user-icon {
    background:url(../themes/default/user.png) no-repeat;
    background-size: 100% 100%;    
}

div.pass-icon {
    background:url(../themes/default/password.png) no-repeat;
    background-size: 100% 100%;     
}

input {
    outline:none;
}

::-webkit-input-placeholder {
    color : #85b1f3;
}

::-moz-placeholder {
    color : #85b1f3;
}

::-ms-input-placeholder {
    color : #85b1f3;
}
div.inner form div.btn input:hover {
    cursor: hand;
    cursor: pointer;
}   